@import 'reset';
@import "fonts";
@import "icons";
@import "home";
@import "header";
@import "footer";

body {

}

.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}

