{% extends '::internal.html.twig' %}

{% block title %}An Error Occurred: {{ status_text }}{% endblock %}

{% block content %}
        <h1>Oops! An Error Occurred</h1>
        <p>The server returned a "{{ exception.statuscode }} {{ exception.statustext }}".</p>
{% endblock %}