# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/cache/*
attachments/*
!attachments/.gitkeep

# Configuration files
app/config/parameters.ini

# etc
.rsync_cache
