# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/cache/*
web/media/*
web/assetic/*
bin/*
attachments/*
!attachments/.gitkeep

# Configuration files
app/config/parameters.ini

# etc
.rsync_cache

# Node.js directories
node_modules/*

# generated sitemaps
web/sitemap.xml
web/sitemap/*
!web/sitemap/.gitkeep

# ingore generate with Grunt css files
web/css/style.min.css
web/assets/css/style.css
web/assets/css/style.min.css
