# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/cache/*
web/media/*
web/assetic/*
bin/*
attachments/*
!attachments/.gitkeep

# Configuration files
app/config/parameters.ini

# etc
.rsync_cache

# Node.js directories
node_modules/*

# generated sitemaps
web/sitemap.xml
web/en/*
!web/en/.gitkeep
web/ru/*
!web/ru/.gitkeep
