.services-tabs {
  h1 {
    margin: 7px 0 48px 7.7083%;
  }
  .tab-title {
    display: none;
  }
  .tab-nav {
    overflow: hidden;
    margin-bottom: 47px;
    padding: 42px 0 10px;

    h2 {
      width: 150px;
      margin: 0;
      font-size: 1.714rem;
      line-height: 1em;
    }
    li {
      float: left;
      width: 22.1875%;
      margin-right: 3.7%;

      &:last-child {
        margin-right: 0;
      }
      &.ui-tabs-active {
        a {
          color: @global-text-color;
          border-color: transparent;

          &:before {
            .opacity(0);
          }
        }
      }
    }
    a {
      position: relative;
      font-size: 1.500rem;
      color: #6a84d1;
      text-decoration: none;
      font-family: 'museo_sans_cyrl', @global-font;
      outline: solid 0px transparent;
      border-bottom:  dotted 1px #6a84d1;

      &:before {
        content: "";
        position: absolute;
        background: @sprite;
        top: -35px;
        left: 0;
        .transition(all 150ms ease-in-out);
      }
      &[href="#web-development"] {
        &:before {
          width: 17px;
          height: 16px;
          background-position: -164px -37px;
        }
      }
      &[href="#web-design"] {
        &:before {
          width: 19px;
          height: 18px;
          background-position: -182px -37px;
        }
      }
      &[href="#mobile-development"] {
        &:before {
          width: 15px;
          height: 15px;
          background-position: -204px -37px;
        }
      }
      &[href="#game-development"] {
        &:before {
          width: 15px;
          height: 15px;
          background-position: -222px -37px;
        }
      }
    }
  }
  .tab-content-wrapper {
    position: relative;

    .img {
      display: none;
      position: absolute;
      left: -28px;
      top: -19px;

      &:nth-child(2) {
        top: -25px;
        left: -17px;
      }
      &:nth-child(3) {
        top: -22px;
        left: -16px;
      }
      &:nth-child(4) {
        top: -22px;
        left: -17px;
      }
    }
  }
  .tab-content {
    .clearfix;
    margin: 0 0 100px 16.9791%;
  }
  .tab-text {
    float: left;
    margin-right: 4.338%;
    width: 58.5416%;
  }
  .price {
    position: relative;
    float: left;
    margin: 0 0 40px 60px;
    font-size: 12px;

    &:before {
      content: "";
      position: absolute;
      left: -75px;
      top: 8px;
      width: 60px;
      border-top: solid 1px #c3c7c8;
    }
    span {
      display: block;
      font-size: 30px;
      font-family: 'museo_sans_cyrl', @global-font;
    }
  }
  .show-in-portfolio {
    .clearfix;
    float: left;
    width: 230px;
    color: #6a84d1;
    font-size: 0.750em;

    span {
      display: inline-block;

      &:last-child {
        margin-top: 8px;
        width: 160px;
        text-decoration: underline;
      }
    }
    .arrow-btn {
      position: relative;
      float: left;
      margin: 0 10px 0 0;
      .sq(49px);
      border-radius: 50%;
      background: #fff;

      &:before {
        content: "";
        position: absolute;
        top: 15px;
        left: 22px;
        width: 10px;
        height: 19px;
        background: @sprite -226px -8px;
      }
    }
  }
}

@media screen and (max-width:1005px) {
  .services-tabs {
    .tab-text {
      width: 57%;
    } 
    .tab-nav {
      margin-bottom: 27px;
    }
    .img {
      display: none !important;
    }
    .tab-content {
      margin-left: 0;
    }
  }
}

@media screen and (max-width:670px) {
  .tab-nav {
    display: none;
  }
  .services-tabs {
    margin-bottom: 37px;

    h1 {
      margin: 0 0 11px 7px;
      font-size: 1.929rem;
    }
    .tab-content {
      overflow: hidden;
      margin-bottom: 7px;
      padding: 12px 7px 13px;
      background: #fff;
    }
    .tab-title {
      position: relative;
      display: inline-block;
      font-size: 1.357rem;
      text-decoration: none;
      border-bottom: dotted 1px;
      color: #3457c0;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        left: -7px;
        top: -14px;
        width: 400%;
        height: 52px;
      }
    }
    .tab-text {
      float: none;
      margin: 0;
      width: auto;
    }
    .price {
      float: none;
      margin: 0 0 12px 0;
      text-align: center;
      font-size: 1rem;
      font-weight: bold;

      &:before {
        display: none;
      }
      span {
        font-size: 1rem;
        display: inline;
        font-family: @global-font;
      }
    }
    .show-in-portfolio {
      display: block;
      float: none;
      width: 220px;
      margin: 0 auto;
      font-size: 1rem;
      text-align: center;

      .arrow-btn {
        display: none;
      }
      span {
        display: inline;
      }
    }
  }
  .open {
    .tab-title {
      border: none;
      color: @global-text-color;
      margin-bottom: 9px; 
    }
  }
  .accordion-wrapper {
    display: none;
  }
}