.contacts-wrapper {
    margin: 0 0 50px 7.8083%;
    overflow: hidden;

    .contacts-form-wr {
      width: 52.1739%;
      float: left;

		h3 {
          margin-top: 0;
          margin-bottom: 28px;
          font-size: 23px;
          line-height: 28px;
          text-transform: none;
          text-align: left;
		}
    }
    .contacts-inf {
      width: 34.7826%;
      float: right;
    }

    .info-group {
      margin-bottom: 30px;
      font-size: 1.143rem; // 16px

      span {
        display: block;
	  	font-family: 'PTSerif', Helvetica, Arial, serif;
	  	font-weight: 400;
        font-size: 16px;
        color: #8C9BA1;
      }
	}
	a {
	  font-family: 'PT-Root-UI', Helvetica, Arial, serif;
	  font-weight: 700;
      color: @global-text-color;

      &:hover {
        color: @link-hover-color;
      }
    }
	.address {
		width: 37.3303%;
	}
	.socials { 
		li {
			float: none;
			margin: 0 0 13px 0;
		}
		a {
			font-size: 1.143rem; // 16px
			color: @global-text-color;
			text-decoration: none;
			
			span:last-child {
				display: inline-block; 
				height: 18px;
				border-bottom: solid 1px #797e81;
				font-weight: bold;
			}
			&:hover {
				color: @link-hover-color;

				span {
					border-color: @link-hover-color;
				}
			}
		}
		.icon-old {
			vertical-align: middle;
		}
	}
    .error-pad {
    text-align: left;
    display: block;
    position: relative;
    z-index: 4;
    color: #ffffff;
    margin: -10px 0 0 6px;

    .error {
      display: inline-block !important;
      border-radius: 3px;
      background: #ed002d;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
      padding: 9px 11px;

      &:before {
        display: block;
        content: "";
        position: absolute;
        top: -12px;
        left: 12px;
        border-style: solid;
        border-width: 6px 6px 6px 5px;
        border-color: transparent transparent #ed002d transparent;
      }
    }
  }

}

.map-wrapper {
	margin-bottom: 40px;

	iframe {
		height: 480px;
	}
}

@media screen and (max-width:1080px){
	.contacts-wrapper {
		margin-top: 0;
	}
}

@media screen and (max-width:905px){
	.contacts-wrapper {
		h1 {
			line-height: 1em;
		}
		.col {
			width: 50%;

			&:last-child {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 768px){
	.vacancy-page__content {
		.contacts-wrapper .contacts-form-wr {
			width: 100%;
		}
	}

	.contacts-wrapper {
        margin-left: 0;

        .contacts-form-wr,
        .contacts-inf {
          width: 100%;
          float: none;
        }
        .contacts-inf {
          margin: 20px 0;
          overflow: hidden;
        }
		h1 {
			font-size: 1.571rem;
		}
		.socials {
			margin: 10px 0 0 0;
			width: 100%;

            li {
              display: inline-block;
              margin-right: 20px;
            }

			a span:last-child {
				display: none;
			}
		}

		.info-group {
			margin-bottom: 20px;
		}
	}
	.map-wrapper iframe {
		height: 360px;	
	}
}

@media screen and (max-width:540px){
  .btn-line {
    .btn {
      width: 100%;
    }
  }
}

@media screen and (max-width:410px){
	.contacts-wrapper {
		.col {
			width: 100%;
		}
	}
}
