<header>
    <h1>
        {% if linkTitle %}
            <a href="{{ path('jobs_job_view', { 'slug': job.slug }) }}">{{ job.title }}</a>
        {% else %}
            {{ job.title }}
        {% endif %}
    </h1>

    <div class="post-info">
        <time pubdate="pubdate">{{ job.updatedAt|localizeddate('long', 'none', app.request.locale) }}</time>
    </div>
</header>
