{% set locale = app.request.locale in ['uk', 'ru'] ? 'ru' : 'en' %}
{% set large_banner_file_name = 'banner-discount-large-' ~ locale ~ '.png' %}
{% set small_banner_file_name = 'banner-discount-small-' ~ locale ~ '.png' %}
<a class="banner banner--mob-none hire_us_main" href="#">
    <img src="{{ asset('img/banner/' ~ large_banner_file_name) }}" class="banner__img">
</a>
<a class="banner banner--mob hire_us_main" href="#">
    <img src="{{ asset('img/banner/' ~ small_banner_file_name) }}" class="banner__img">
</a>