<ul class="socials-links{% if add_class is defined and add_class is not null %} {{ add_class }}{% endif %}">
    <li class="socials-links__item"><a href="https://www.facebook.com/stfalconcom" rel="nofollow" target="_blank"><i class="icon icon-facebook"></i></a></li>
    <li class="socials-links__item"><a href="https://twitter.com/stfalconcom" rel="nofollow" target="_blank"><i class="icon icon-twitter"></i></a></li>
    <li class="socials-links__item"><a href="https://www.linkedin.com/company/stfalconcom/" rel="nofollow" target="_blank"><i class="icon icon-linkedin icon-linkedin--dark"></i></a></li>
    <li class="socials-links__item"><a href="https://www.youtube.com/user/stfalconcom" rel="nofollow" target="_blank"><i class="icon icon-youtube"></i></a></li>
    <li class="socials-links__item"><a href="https://medium.com/@stfalconcom" rel="nofollow" target="_blank"><i class="icon icon-medium"></i></a></li>
    <li class="socials-links__item"><a href="https://github.com/stfalcon-studio" rel="nofollow" target="_blank"><i class="icon icon-github"></i></a></li>
</ul>
