<ul class="socials-links{% if add_class is defined and add_class is not null %} {{ add_class }}{% endif %}">
    <li class="socials-links__item">
        <a href="https://www.facebook.com/stfalconcom" rel="nofollow" target="_blank" class="socials-links__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" fill="white"/>
                <path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd"
                      d="M32 0H0V32H32V0ZM13.7733 16V25H17.3173V16H19.6853L20 12.8957H17.3173L17.3227 11.3449C17.3227 10.5349 17.4 10.1015 18.5067 10.1015H19.9787V7H17.6133C14.7733 7 13.7733 8.50369 13.7733 11.0334V12.8985H12V16H13.7733Z"
                      fill="#040918"/>
            </svg>
        </a>
    </li>
    <li class="socials-links__item">
        <a href="https://twitter.com/stfalconcom" rel="nofollow" target="_blank" class="socials-links__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" fill="white"/>
                <g opacity="0.8">
                    <path d="M15.9985 19.3324C14.1568 19.3324 12.6643 17.8399 12.6643 15.9982C12.6643 14.1565 14.1568 12.6641 15.9985 12.6641C17.8402 12.6641 19.3326 14.1565 19.3326 15.9982C19.3326 17.8399 17.8402 19.3324 15.9985 19.3324Z"
                          fill="#040918"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M20.0391 7.86156C18.9833 7.81393 18.6697 7.80202 15.9984 7.80202C13.3271 7.80202 13.0136 7.80996 11.9578 7.86156C10.9813 7.90522 10.4534 8.07192 10.1002 8.20688C9.63182 8.38549 9.29841 8.6038 8.94912 8.95309C8.59983 9.30238 8.38549 9.63579 8.20291 10.1042C8.06398 10.4574 7.90125 10.9853 7.85759 11.9617C7.80996 13.0175 7.79805 13.3311 7.79805 16.0024C7.79805 18.6737 7.80996 18.9872 7.85759 20.043C7.90125 21.0195 8.06795 21.5474 8.20291 21.9006C8.38152 22.369 8.59983 22.7024 8.94912 23.0517C9.29841 23.401 9.63182 23.6153 10.1002 23.7979C10.4534 23.9368 10.9813 24.0996 11.9578 24.1432C13.0136 24.1909 13.3271 24.2028 15.9984 24.2028C18.6697 24.2028 18.9833 24.1909 20.0391 24.1432C21.0155 24.0996 21.5434 23.9329 21.8967 23.7979C22.365 23.6193 22.6984 23.401 23.0477 23.0517C23.397 22.7024 23.6113 22.369 23.7939 21.9006C23.9329 21.5474 24.0956 21.0195 24.1393 20.043C24.1869 18.9872 24.1988 18.6737 24.1988 16.0024C24.1988 13.3311 24.1869 13.0175 24.1393 11.9617C24.0956 10.9853 23.9289 10.4574 23.7939 10.1042C23.6153 9.63579 23.397 9.30238 23.0477 8.95309C22.6984 8.6038 22.365 8.38946 21.8967 8.20688C21.5434 8.06795 21.0155 7.90522 20.0391 7.86156ZM15.9985 10.8621C13.1645 10.8621 10.8623 13.1603 10.8623 15.9982C10.8623 18.8362 13.1645 21.1344 15.9985 21.1344C18.8325 21.1344 21.1346 18.8322 21.1346 15.9982C21.1346 13.1642 18.8325 10.8621 15.9985 10.8621ZM22.5357 10.6601C22.5357 11.3221 21.999 11.8588 21.337 11.8588C20.675 11.8588 20.1383 11.3221 20.1383 10.6601C20.1383 9.99803 20.675 9.46136 21.337 9.46136C21.999 9.46136 22.5357 9.99803 22.5357 10.6601Z"
                          fill="#040918"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M32 0H0V32H32V0ZM11.8744 6.05954C12.9421 6.01191 13.2835 6 15.9984 6C18.7134 6 19.0547 6.01191 20.1264 6.05557C21.1941 6.1032 21.9205 6.27387 22.5555 6.51997C23.2105 6.77796 23.7701 7.11932 24.3258 7.675C24.8815 8.23069 25.2268 8.78638 25.4808 9.44527C25.7269 10.0843 25.8976 10.8107 25.9452 11.8744C25.9929 12.9421 26.0048 13.2795 26.0048 15.9984C26.0048 18.7173 25.9929 19.0547 25.9452 20.1224C25.8976 21.1901 25.7269 21.9165 25.4808 22.5516C25.2228 23.2065 24.8815 23.7661 24.3258 24.3218C23.7701 24.8775 23.2144 25.2228 22.5555 25.4769C21.9165 25.723 21.1901 25.8936 20.1264 25.9413C19.0587 25.9889 18.7213 26.0008 16.0024 26.0008C13.2835 26.0008 12.9461 25.9889 11.8784 25.9413C10.8107 25.8936 10.0843 25.723 9.44924 25.4769C8.79432 25.2189 8.23466 24.8775 7.67897 24.3218C7.12328 23.7661 6.77796 23.2105 6.52393 22.5516C6.27784 21.9125 6.10717 21.1862 6.05954 20.1224C6.01191 19.0547 6 18.7134 6 15.9984C6 13.2835 6.01191 12.9421 6.05954 11.8784C6.10717 10.8107 6.27784 10.0843 6.52393 9.44924C6.78193 8.79432 7.12328 8.23466 7.67897 7.67897C8.23466 7.12328 8.79035 6.77796 9.44924 6.52393C10.0843 6.27784 10.8107 6.10717 11.8744 6.05954Z"
                          fill="#040918"/>
                </g>
            </svg>
        </a>
    </li>
    <li class="socials-links__item">
        <a href="https://www.linkedin.com/company/stfalconcom/" rel="nofollow" target="_blank" class="socials-links__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" fill="white"/>
                <g opacity="0.8">
                    <path d="M17.0797 13.5762V13.6155H17.0543C17.0582 13.6089 17.0629 13.6019 17.0676 13.5949C17.0718 13.5886 17.076 13.5823 17.0797 13.5762Z"
                          fill="#040918"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M32 0H0V32H32V0ZM25 24V17.0358C25 13.3052 23.0965 11.5693 20.5574 11.5693C18.508 11.5693 17.5924 12.7498 17.0797 13.5762V11.8547H13.2208C13.2728 12.9949 13.2208 24 13.2208 24H17.0801V17.2173C17.0801 16.8539 17.1063 16.4925 17.208 16.2329C17.4871 15.5067 18.1215 14.7559 19.1875 14.7559C20.584 14.7559 21.142 15.8699 21.142 17.5022V24H25ZM7 8.09802C7 6.90626 7.86356 6 9.18381 6C10.5042 6 11.3158 6.90626 11.3412 8.09802C11.3412 9.26398 10.5042 10.1976 9.15837 10.1976H9.13259C7.83857 10.1976 7 9.26381 7 8.09802ZM11.087 24H7.22921V11.8547H11.087V24Z"
                          fill="#040918"/>
                </g>
            </svg>
        </a>
    </li>
    <li class="socials-links__item">
        <a href="https://www.youtube.com/user/stfalconcom" rel="nofollow" target="_blank" class="socials-links__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" fill="white"/>
                <g opacity="0.8">
                    <path d="M14.1671 11.9682V19.0291L20.3546 15.5L14.1671 11.9682Z" fill="#040918"/>
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M32 0H0V32H32V0ZM24.2404 8.3C25.3954 8.42273 26.3496 9.26818 26.6191 10.4136C27 12.0317 27 13.7976 27 15.4644V15.5C27 17.1773 26.9972 18.9568 26.615 20.5864C26.3441 21.7318 25.3885 22.5773 24.2362 22.7C21.5082 23 18.7472 23 15.9973 23C13.2473 23 10.489 23 7.761 22.7C6.60875 22.5773 5.65175 21.7318 5.385 20.5864C5 18.9568 5 17.1773 5 15.5C5 13.8227 5.00275 12.0432 5.38912 10.4136C5.65725 9.26818 6.61425 8.42273 7.76375 8.3C10.4917 8 13.2555 8 16.0055 8C18.7555 8 21.5138 8 24.2404 8.3Z"
                          fill="#040918"/>
                </g>
            </svg>
        </a>
    </li>
    <li class="socials-links__item">
        <a href="https://medium.com/@stfalconcom" rel="nofollow" target="_blank" class="socials-links__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" fill="white"/>
                <path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd"
                      d="M32 0H0V32H32V0ZM8.01354 11.4427C8.1877 11.5988 8.27664 11.828 8.25303 12.06V20.4109C8.30471 20.7122 8.20922 21.0199 7.9958 21.2399L6 23.6473V23.9647H11.6592V23.6473L9.6634 21.2399C9.44842 21.0203 9.34701 20.7146 9.38842 20.4109V13.1887L14.3557 23.9647H14.9323L19.1989 13.1887V21.7778C19.1989 22.0071 19.1989 22.0511 19.0481 22.2011L17.5135 23.6825V24H24.9645V23.6825L23.4832 22.2363C23.3524 22.1372 23.2876 21.9743 23.3147 21.8131V11.1869C23.2876 11.0257 23.3524 10.8628 23.4832 10.7637L25 9.31746V9H19.7488L16.0056 18.2857L11.7479 9H6.2395V9.31746L8.01354 11.4427Z"
                      fill="#040918"/>
            </svg>
        </a>
    </li>
    <li class="socials-links__item">
        <a href="https://github.com/stfalcon-studio" rel="nofollow" target="_blank" class="socials-links__link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="32" height="32" fill="white"/>
                <path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd"
                      d="M32 0H0V32H32V0ZM24 13.8214C24 11.6614 23.065 10.1371 21.5492 9.14714L21.7928 6L18.6903 8.00857C17.7057 7.79286 16.6291 7.69 15.5 7.69C14.3667 7.69 13.2857 7.78857 12.2983 8L9.20717 6L9.45083 9.12143C7.935 10.1 7 11.6286 7 13.82C7 17.6429 9.83617 19.4357 13.63 19.8571L10.7301 24.0857C10.7301 24.0857 11.7798 26 15.5 26C19.2258 26 20.26 24.0857 20.26 24.0857L17.3601 19.8529C21.1582 19.4214 24 17.5814 24 13.8214Z"
                      fill="#040918"/>
            </svg>
        </a>
    </li>
</ul>
