<ul class="socials-links">
    <li><a href="https://www.facebook.com/stfalconcom" target="_blank"><i class="icon icon-facebook"></i></a></li>
    <li><a href="https://twitter.com/stfalconcom" target="_blank"><i class="icon icon-twitter"></i></a></li>
    <li><a href="https://www.youtube.com/user/stfalconcom" target="_blank"><i class="icon icon-youtube"></i></a></li>
    <li><a href="https://github.com/stfalcon-studio" target="_blank"><i class="icon icon-github"></i></a></li>
</ul>