<div class="cookie-alert">
    <div class="middle-container cookie-alert__container">
        <div class="cookie-alert__left">
            <div class="cookie-alert__text">{{ '__cookie-alert_text'|trans }}</div>
        </div>
        <div class="cookie-alert__right">
            <button id="accept-privacy-policy" class="btn btn--blue cookie-alert__btn">
                {{ '__cookie-alert_button_text'|trans }}
            </button>
        </div>
    </div>
</div>
