<div class="cookie-alert">
    <div class="middle-container cookie-alert__container">
        <div class="cookie-alert__left">
            <div class="cookie-alert__text">Мы используем файлы cookie. Если вы продолжаете использовать этот сайт, вы принимаете наши Privacy Policy</div>
        </div>
        <div class="cookie-alert__right">
            <button id="accept-privacy-policy" class="btn btn--blue cookie-alert__btn">
                Принять
            </button>
        </div>
    </div>
</div>
