{% extends '::base.html.twig' %}
{% block body %}
    {{ include('_header.html.twig') }}
    <div class="content">
        {% block content_wrapper %}{% endblock %}
    </div>
    <footer class="vcard">
        {{ include('_footer.html.twig') }}
    </footer>
{% endblock body %}
