{% extends '::base.html.twig' %}

{% block head %}
    <!-- Facebook Conversion Code for заявка -->
    <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', '6020145370099', {'value':'0.00','currency':'USD'}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6020145370099&cd[value]=0.00&cd[currency]=USD&noscript=1" /></noscript>
{% endblock %}

{% block body %}
    {{ include('_header.html.twig') }}
    <div class="content">
        {% block content_wrapper %}{% endblock %}
    </div>
    <footer class="vcard">
        {{ include('_footer.html.twig') }}
    </footer>
{% endblock body %}
