{% extends '::base.html.twig' %}

{% block body %}
    {% block header_content %}
        {{ include('_header.html.twig') }}
    {% endblock %}
    <div class="content full-width-content">
        <section class="services-tabs projects-wrapper">
            {% block content_wrapper %}{% endblock %}
        </section>
    </div>
    <footer class="footer vcard">
        {{ include('_footer.html.twig') }}
    </footer>
{% endblock body %}


{% block javascripts %}
    {% javascripts
    'js/vendor/jquery-1.7.2.min.js'
    'js/plugins.js'
    'js/autosize.min.js'
    'js/headroom.js'
    'js/lazy_load_projects.js'
    'js/jquery.validate.min.js'
    'js/main.js'
    'js/widgets.js'
    output='cache/js/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
