imports:
    - { resource: parameters.ini }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:       { fallback: ru }
    secret:           %secret%
    charset:          UTF-8
    router:           { resource: "%kernel.root_dir%/config/routing.yml" }
    form:             true
    csrf_protection:  true
    validation:       { enable_annotations: true }
    templating:       { engines: ['twig'] }
    default_locale:   %locale%
    session:
        auto_start:   true


# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%


# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
    orm:
        auto_generate_proxy_classes: %kernel.debug%
        entity_managers:
            default:
                mappings:
                    StfalconPortfolioBundle: ~
                    StfalconBlogBundle: ~


# DoctrineMigrationsBundle
doctrine_migrations:
    dir_name: %kernel.root_dir%/DoctrineMigrations


# DoctrineExtensionsBundle
stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            loggable: false
            sluggable: true
            timestampable: true
            translatable: false
            tree: false


# AsseticBundle
assetic:
    debug:          %kernel.debug%
    use_controller: false
    filters:
        yui_css:
            jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.6.jar"
        yui_js:
            jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.6.jar"

# MenuBundle enable template helpers
knp_menu:
    templating: true
    twig: true

knp_paginator:
    templating: ~ # enables view helper and twig

# ZendCacheBundle
knp_zend_cache:
    templates:
        slow_cache:
            frontend:
                name: Core
                options:
                    lifetime: 7200
                    automatic_serialization: true
            backend:
                name: File
                options:
                    cache_dir: %kernel.root_dir%/cache/%kernel.environment%


sensio_framework_extra: ~

stfalcon_blog:
    rss:
        title: "Блог веб-студии stfalcon.com"
        description: "Заметки о используемых технологиях, реализованных проектах, трудовых буднях и отдыхе :)"