imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: sphinx/sphinx.yml }

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:         ~
    fragments:       ~
    http_method_override: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
        resources:
            - 'StfalconReCaptchaBundle:Form:recaptcha_widget.html.twig'

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        server_version: "%database_server_version%"
        charset:  UTF8
        types:
            json:               Sonata\Doctrine\Types\JsonType
            RedirectStatusType: Stfalcon\RedirectBundle\Entity\Types\RedirectStatusType
            RedirectCodeType:   Stfalcon\RedirectBundle\Entity\Types\RedirectCodeType
        mapping_types:
            enum: string
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true

# DoctrineMigrationsBundle
doctrine_migrations:
    dir_name: "%kernel.root_dir%/DoctrineMigrations"

# DoctrineExtensionsBundle
stof_doctrine_extensions:
    default_locale: "%locale%"
    orm:
        default:
            loggable:      false
            sluggable:     true
            timestampable: true
            translatable:  true
            tree:          false

# AsseticBundle
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    filters:
        uglifyjs2:
            node: "%node_path%"
            bin: "%uglify_js_path%"
            apply_to: "\.js$"
        uglifycss:
            node: "%node_path%"
            bin: "%uglify_css_path%"
#            apply_to: "\.css$"
        cssrewrite: ~
        less:
            node: "%node_path%"
            node_paths: "%node_lib_path%"
    assets:
        jquery:    vendor/jquery/jquery-1.7.2.min.js
        jquery_ui: vendor/jquery-ui/jquery-ui-1.8.19.custom.min.js
    workers:
        cache_busting: ~

# MenuBundle enable template helpers
knp_menu:
    templating: true
    twig: true

knp_paginator:
    default_options:
        page_name: page  # page query parameter name
        distinct: false  # ensure distinct results, useful when ORM queries are using GROUP BY statements
    template:
        pagination: KnpPaginatorBundle:Pagination:sliding.html.twig # sliding pagination controls template

sensio_framework_extra: ~

application_default:
    web_root: "%kernel.root_dir%/../web"
    upload_dir: /uploads/images

stfalcon_blog:
    disqus_shortname: "stfalcon-studio"
    rss:
        title: "Блог веб-студии stfalcon.com"
        description: "Заметки о используемых технологиях, реализованных проектах, трудовых буднях и отдыхе :)"

sonata_block:
    default_contexts: [cms]
    blocks:
        sonata.admin.block.admin_list:
            contexts:   [admin]
        sonata.user.block.menu:
        sonata.user.block.account:

vich_uploader:
    db_driver: orm
    mappings:
        project_image:
            upload_destination: "%kernel.root_dir%/../web/uploads/portfolio/projects"
            namer: vich_uploader.namer_uniqid
            delete_on_update: true
            delete_on_remove: true
        user_avatar:
            uri_prefix: /uploads/avatar
            upload_destination: "%kernel.root_dir%/../web/uploads/avatar"
            namer: vich_uploader.namer_uniqid
        user_caricature:
            uri_prefix: /uploads/avatar/caricature
            upload_destination: "%kernel.root_dir%/../web/uploads/avatar/caricature"
            namer: vich_uploader.namer_uniqid

sonata_admin:
    security:
        handler: sonata.admin.security.handler.acl
        # acl security information
        information:
            STAFF:    [LIST, CREATE]
            ADMIN:    [MASTER]
        # permissions not related to an object instance and also to be available when objects do not exist
        # the DELETE admin permission means the user is allowed to batch delete objects
        admin_permissions: [CREATE, LIST, DELETE, UNDELETE, EXPORT, OPERATOR, MASTER]
        # permission related to the objects
        object_permissions: [VIEW, EDIT, DELETE, UNDELETE, OPERATOR, MASTER, OWNER]
    title: "Portfolio"
    title_logo: img/pages/promotions/apps/falcon-img.png
    templates:
        layout: "::admin.html.twig"

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: Application\Bundle\UserBundle\Entity\User
    group:
        group_class: Application\Bundle\UserBundle\Entity\Group

sonata_user:
    class:
        user:  Application\Bundle\UserBundle\Entity\User
        group: Application\Bundle\UserBundle\Entity\Group
    admin:                  # Admin Classes
        user:
            class:      Application\Bundle\UserBundle\Admin\UserAdmin
            controller: ApplicationUserBundle:Admin\UserAdmin

avalanche_imagine:
    filters:
        project_thumb:
            type:    thumbnail
            options: { size: [300, 264], mode: outbound }
        image_preview:
            type:    thumbnail
            options: { size: [240, 75], mode: outbound }
        avatar:
            type:    thumbnail
            options: { size: [135, 135], mode: outbound }
        avatar_small:
            type:    thumbnail
            options: { size: [48, 48], mode: outbound }
        portfolio_large:
            type:    thumbnail
            options: { size: [1358, 764], mode: outbound }
        portfolio_small:
            type:    thumbnail
            options: { size: [674, 379], mode: outbound }

sonata_media:
    class:
        media:             Application\Bundle\MediaBundle\Entity\Media
        gallery:           Application\Bundle\MediaBundle\Entity\Gallery
        gallery_has_media: Application\Bundle\MediaBundle\Entity\GalleryHasMedia
    default_context: default
    db_driver: doctrine_orm
    contexts:
        default:
            providers:
                - sonata.media.provider.image

            formats:
                small: { width: 100 , quality: 95}
                slide: { width: 720 , quality: 95}
    cdn:
        server:
            path: /uploads/media

    filesystem:
        local:
            directory: "%kernel.root_dir%/../web/uploads/media"
            create:    true

services:
    twig.extension.intl:
        class: Twig_Extensions_Extension_Intl
        tags:
            - { name: twig.extension }

jms_i18n_routing:
    default_locale: "%locale%"
    locales:        "%locales%"
    strategy:       prefix

a2lix_translation_form:
    locales: [ru, en]
    default_required: true
    manager_registry: doctrine

hype_mailchimp:
    api_key:      "%mc_api_key%"
    default_list: "%mc_default_list%"
    ssl: true

sonata_seo:
    page:
        metas:
            property:
                'og:image': https://stfalcon.com/img/facebook_cover.jpg

stfalcon_re_captcha:
    site_key: "%recaptcha.site_key%"
    secret:   "%recaptcha.secret%"
    theme: light

sensio_buzz:
    client_timeout: 20
