{% if participants is defined and participants is not empty %}
    <section class="{{ class|default('work-on-project') }}">
        <h2>{{ 'Над проектом работали'|trans }}:</h2>
        <ul class="team-list  team-list-small">
            {% for participant in participants %}
                {% include 'StfalconPortfolioBundle:Project:_project_participant_item.html.twig' %}
            {% endfor %}
        </ul>
    </section>
{% endif %}
