<div class="list_projects">
    <ul class="items_projects">
        {% for project in projects %}
            <li class="project-cell">
                {% include('@StfalconPortfolio/Project/_project_load_item.html.twig') with {'project': project } %}
            </li>
        {% endfor %}
    </ul>
</div>