{% extends '::project_layout.html.twig' %}

{% block title %}{{ "Проекты"|trans }} | {{ parent() }}{% endblock %}

{% block additional %}
    <link rel="canonical" href="{{ url('portfolio_all_projects') }}"/>
{% endblock additional %}

{% block content_wrapper %}
    <div class="section-offer">
        <p class="h1">{{ "Проекты"|trans }}</p>
        {% include('@StfalconPortfolio/Project/_project_categories_list.html.twig') with categories %}
    </div>
    {% include('@StfalconPortfolio/Project/_project_category_item.html.twig') with projects %}

{% endblock %}
