<div class="projects-nav">
    {% if previousProject %}
        <a href="{{ path('portfolio_category_project', { 'slug': previousProject.slug }) }}" class="prev-page">{{ "Предыдущий проект"|trans }}</a>
    {% endif %}

    {% if nextProject %}
        <a href="{{ path('portfolio_category_project', { 'slug': nextProject.slug }) }}" class="next-page">{{ "Следующий проект"|trans }}</a>
    {% endif %}
</div>