<ul class="tags">
    {% for tag in post.tags %}
        <li>
            {% if tag.posts.count > 1 %}
                <a href="{{ path('blog_tag_view', { 'text': tag.text }) }}">{{ tag.text }}</a>
            {% else %}
                <span>{{ tag.text }}</span>
            {% endif %}

            {% if not loop.last %},{% endif %}
        </li>
    {% endfor %}
</ul>
