<section class="services-tabs projects-wrapper">
    <div class="section-offer">
        <ul class="tabs-header tabs-projects">
            <li>
                <div class="wrap-nav"><a class="tab-title  active" href="https://stfalcon.com/ru/portfolio">Новое</a></div>
            </li>
            <li>
                <div class="wrap-nav"><a class="tab-title " href="/ru/portfolio/web-development">Технологии</a></div>
            </li>
            <li>
                <div class="wrap-nav"><a class="tab-title " href="/ru/portfolio/web-design">Бизнес</a></div>
            </li>
            <li>
                <div class="wrap-nav"><a class="tab-title " href="/ru/portfolio/mobile-development">Тренды</a></div>
            </li>
            <li>
                <div class="wrap-nav"><a class="tab-title " href="/ru/portfolio/mobile-development">События</a></div>
            </li>
        </ul>
    </div>
</section>

<div class="posts-list">
    {% for post in posts %}
        <article class="blog-post">
            {% include 'StfalconBlogBundle:Post:_post_header.html.twig' with {'post': post, 'linkTitle': true} %}
            <div class="post-content">
                <p>
                    {{ post.text|cutMore|highlightCode|raw }}
                </p>
                {% if hasMore(post.text) %}
                    <a class="read-more  next-page" href="{{ path('blog_post_view', { 'slug': post.slug }) }}#more">
                        {{ 'Читать дальше'|trans }}
                    </a>
                {% endif %}
            </div>
            {% include 'StfalconBlogBundle:Post:_post_tags.html.twig' with {'post': post} %}
        </article>
    {% endfor %}
</div>
