<ul class="tags">
    {% for tag in post.tags %}
        <li>
            {% if tag.posts.count > 1 %}
                {% for tag_translation in tag.translations %}
                    <a href="{{ path('blog_tag_view', { 'text': tag_translation.content }) }}">{{ tag.text }}</a>
                {% endfor %}
            {% else %}
                <span>{{ tag.text }}</span>
            {% endif %}

            {% if not loop.last %},{% endif %}
        </li>
    {% endfor %}
</ul>
