<ul>
    {% for post in posts %}
        <li>
            <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}"><h4>{{ post.title }}</h4></a>
            <time>{{ post.created|localizeddate('long', 'none', app.request.locale) }}</time>
        </li>
    {% endfor %}
</ul>