<div class="related-posts-title">{{ 'Вам также может понравиться'|trans }}</div>
<div class="related-posts-wrapper">
    <div class="related-posts">
        <ul class="related-posts__list">
            {% for post in related_posts %}
                <li class="related-posts__item">
                    <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#more" class="related-posts__link">
                        <div class="related-posts__img">
                            {{ get_post_first_image(post, '', app.request.host) }}
                        </div>
                        {% set title = post.title %}
                        {% if title is empty %}
                            {% for translate in post.translations %}
                                {% if translate.locale == 'en' and translate.field == 'title' %}
                                    {% set title = translate.content %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="related-posts__title">{{ title }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
