<ul>
    {% for post in related_posts %}
        <li style="display: inline-block; margin-bottom: 20px">
            <a href="{{ path('blog_post_view', { 'slug': post.slug }) }}#more">
                {{ get_post_first_image(post, 'image_preview', app.request.host) }}

                <p>{{ post.title }}</p>
            </a>
        </li>
    {% endfor %}
</ul>
