<div class="share-cnt clearfix">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
    <script type="text/javascript">
        VK.init({apiId: 4612398, onlyWidgets: true});
    </script>
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter" data-yashareType="small"></div>
    <div id="vk_like"></div>
    <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button", height: 20});
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
</div>
