<div class="share-cnt clearfix">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
    <div class="yashare yashare-auto-init" data-yashareL10n="ru"
         data-yashareQuickServices="facebook,twitter,gplus"
         data-yashareTheme="counter" data-yashareType="small"></div>
    <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

    {% if app.request.locale == 'en' %}
        {# Pocket social button #}
        <a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
        <script type="text/javascript">
            !function (d, i) {
                if (!d.getElementById(i)) {
                    var j = d.createElement("script");
                    j.id = i;
                    j.src = "https://widgets.getpocket.com/v1/j/btn.js?v=1";
                    var w = d.getElementById(i);
                    d.body.appendChild(j);
                }
            }(document, "pocket-btn-js");
        </script>
    {% endif %}

    <span class="{% if app.request.locale == 'en' %}en-IN{% else %}ru{% endif %}">
        <script src="//platform.linkedin.com/in.js" type="text/javascript">lang:{{ app.request.locale == 'ru' ? 'ru_RU' : 'en_US' }}</script>
        <script type="IN/Share" data-counter="right"></script>
    </span>

    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/{{ app.request.locale == 'ru' ? 'ru_RU' : 'en_US' }}/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</div>
