<div class="section-cms">
    <h3>{{ 'Примеры разработки мобильных приложений'|trans }}</h3>
    {{ render(controller('StfalconPortfolioBundle:Project:widgetExamplesProject', { 'category': category })) }}
    <div class="more">
        <a class="link-more">{{ 'Подробнее про консалтинг и аудит'|trans }}</a>
    </div>
</div>