/*
    CSS styles for PortfolioBundle
*/

/* forms
----------------------------------------------- */
fieldset div div label {
	width:98%;
}
fieldset div div input {
	width:98%;
}
fieldset div div textarea {
	width:98%;
}
fieldset div div select {
	width:99%;
}

/* info messages
----------------------------------------------- */
.error, .alert, .notice, .success, .info {
        padding:0.8em;
        margin-bottom:1em;
        border:2px solid #ddd;
}
.error, .alert {
        background:#fbe3e4;
        color:#8a1f11;
        border-color:#fbc2c4;
}
.notice {
        background:#fff6bf;
        color:#514721;
        border-color:#ffd324;
}
.success
{
	background: #e6efc2;
	border-color: #c6d880;
	color: #264409;
}
.info
{
	background: #d5edf8;
	border-color: #92cae4;
	color: #205791;
}
.error a, .alert a
{
	color: #8a1f11;
}
.notice a
{
	color: #514721;
}
.success a
{
	color: #264409;
}
.info a
{
	color: #205791;
}
.ui-state-highlight { border: 1px solid red;}