.footer {
  overflow: hidden;
  margin: 0 -3.332%;
  padding: 0 10% 76px;
  color: #fff;
  background: #2c373c;
  font-weight: 300;
  font-family: 'museo_sans_cyrl';

  a {
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-family: 'museo_sans_cyrl';
  }
}

.home-page {
  .footer {
    margin: 0;
  }
}

.footer-nav {
  float: none;
  margin: 29px 0 48px;

  a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
  }
}

.contact-list {
  overflow: hidden;

  li {
    float: left;
    margin-right: 23px;

    span {
      display: block;
      margin-bottom: 7px;
      color: #919699;
      font-size: 15px;
      font-weight: 100;
    }
  }
  .email {
    color: #d7c76e;
    text-decoration: underline;
  }
}

.copyright {
  float: right;
  margin-top: 23px;

  a {
    color: #d7c76e;
    text-decoration: underline;
  }
  .rules {
    margin-top: 7px;
    text-align: right;

    a {
      margin-left: 17px;
      font-size: 12px;
      color: #8d9295;
    }
  }
}

@media (max-width: 790px){
  .footer {
    position: relative;
    padding: 0 15px 197px;

    .socials-links {
      margin: 0;
      position: absolute;
      left: 21px;
      bottom: 128px;
      overflow: visible;
      transform-origin: 0 0 ;
      transform: scale(2.25);

      li {
        margin-right: 16px;
      }
    }
  }
  .footer-nav {
    margin-bottom: 34px;
  }
  .contact-list {

  }
  .copyright {
    position: absolute;
    left: 15px;
    bottom: 26px;

    .rules {
      text-align: left;
      margin-top: 19px;

      a:first-child {
        margin: 0;
      }
    }
  }
}


@media (max-width: 1120px){
  .contact-list .address {
    margin-top: 25px;
  }
}

@media (max-width: 790px){
  .contact-list .address {
    margin-top: 0;
  }
}

@media (max-width: 662px){
  .contact-list .address {
    margin-top: 25px;
  }
}

@media (max-width: 480px){
  .footer-nav {
    margin-bottom: 22px;

    ul {
      width: 256px;
      margin-left: 30px;
      column-count: 2;
      column-width: 110px;
      column-gap: 8px;
    }
    li {
      padding-bottom: 22px;
      float: none;
    }
    a {
      font-size: 18px;
      letter-spacing: 1px;
    }
  }
}

@media (max-width: 360px){
  .contact-list {
    li:nth-child(2) {
      margin-right: 0;
    }
  }
}