// global variables
@sprite : url(../img/sprite.png);
@spriteSVG : url(../img/svg/sprite.svg);
@global-font: 'museo_sans_cyrl', Helvetica, Arial, serif;
@bg-color: #f5f7f7;
@global-text-color: #2c373c;
@link-color: #3457c0;
@link-hover-color: #ed002d;

html,
button,
input,
select,
textarea {
  color: #222;
}

html, body {
  height: 100%;
  min-height: 100%;
}

html {
  font-size: 0.875em;
}

body {
  margin: 0;
  min-height: 100%;
  height: auto !important;
  line-height: 1.4;
  font-size: 1em;
  font-weight: 300;
  color: @global-text-color;
  font-family: @global-font;
  background-color: @bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1290px;
  width: 93.71%;
  margin: 0 auto;
  padding-top: 105px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6, .h1 {
  margin-top: 0;
  font-family: 'museo_sans_cyrl', @global-font;
  line-height: 1.1em;
  text-shadow: 0 1px #fff;
  font-weight: 500;
}   

h4, h5, h6 {
  font-family: @global-font;
}

h1, .h1 {
  font-size: 3rem;  
  font-weight: normal;
}

h2 {
  font-size: 2.571rem; 
  font-weight: normal;
}

h3 {
  font-size: 1.5rem; 
  font-weight: normal;
}

h4 {
  font-size: 1.214rem;
  font-weight: bold;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase; 
}

p {
  font-size: 1.5rem; 
  line-height: 1.429em;
}

@media screen and (max-width:1330px){
  h1, .h1 {
    font-size: 2.571rem;
  }

  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.143rem;
    line-height: 1.5em;
  }
  h3 {
    font-size: 1.214rem;
  }

  h4 {
    font-size: 1.143rem;
  }
}


@media screen and (max-width:1023px) {
  h1, .h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.714rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.643em;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: @link-color;
  &:hover {
    color: @link-hover-color;
    border-color: @link-hover-color;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=date],
input[type=month],
input[type=time],
input[type=url],
input[type=week],
textarea {
  display: block;
  .box-sizing(border-box);
  width: 100%;
  background: #fff;
  border: none;
  .border-radius(4px);
  .box-shadow(0 1px 1px rgba(0,0,0,0.35));
  //height: 51px;
  padding: 14px 16px 13px;
  font-family: @global-font;
  font-size: 1.117em;
  line-height: 1.335em;
}

textarea {
  height: 173px;
}

/*placeholder css*/
form :-moz-placeholder {
  color: #919699;
  opacity: 1 !important;
}

form ::-moz-placeholder {
  color: #919699;
  opacity: 1 !important;
}

form ::-webkit-input-placeholder {
  color: #919699 !important;
  line-height: 1.335em;
}

.file-input {
  position: relative;
  .box-sizing(border-box);
  padding: 13px 16px 12px;
  border: 1px dashed #c4c5c5;
  .border-radius(4px);
  overflow: hidden;

  p {
    font-size: 1.287em;
    line-height: 1.335em;
  }
  .filename {
    margin: 0;
    text-align: left;
  }
  .filesize {
    position: absolute;
    right: 16px;
    top: 14px;
    margin: 0;
    color: #919699;
  }
  input {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 200px;
    cursor: pointer;

    opacity:0;
  }
}

form {
  .line {
    margin: 0 0 10px;

    &:after {
      content:"";
      display: block;
      clear:both;
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .btn-line {
    margin-top: 20px;
    @media (max-width: 1080px) {
      text-align: center;
    }

    .btn {
      position: relative;
      float: right;
      margin-top: 33px;
      @media (max-width: 1080px) {
        float: none;
        display: block;
        margin: auto;
      }
    }
    .file-input {
//      margin-right: 184px;
    }
  }
}



a.btn ,
div.btn ,
span.btn {
  padding-top: 16px;
}

/*
error
*/
textarea.error,
input.error {
  box-shadow: 0 0 3px #fcd9e0;
}

.error-list {
  display: block;
  position: relative;
  z-index: 11;
  color: #ffffff;
  margin: -10px 0 0 6px;
  border-radius: 3px;
  background: #ed002d;
  .box-shadow(0 2px 3px rgba(0, 0, 0, 0.35));
  padding: 9px 11px;

  &:before {
    display: block;
    content: "";
    position: absolute;
    top: -12px;
    left: 12px;
    border-style: solid;
    border-width: 6px 6px 6px 5px;
    border-color: transparent transparent #ed002d transparent;
  }
  li {
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }
  }
}

@media screen and (max-width:1330px){
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=url],
  input[type=week],
  textarea {
    font-size: 1.143rem;
  }
}

@media screen and (max-width:1080px) {
  form {
    .btn-line {
      .file-input {
        width: 100%;
        float: none;
        margin: 0 0 20px;
      }
    }
  }
}

@media screen and (max-width:1023px) {
  .file-input p,
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=date],
  input[type=month],
  input[type=time],
  input[type=url],
  input[type=week],
  textarea {
    font-size: 1rem;
  }
}

// for desctop
.hidden-d {
  .responsive-invisibility();
}

.visible-d {
  .responsive-visibility-block();
}

// for inline-lavel elements
.visible-d-i {
  .responsive-visibility-inline();
}


.clearfix {
  &:before, &:after {
    content: ""; display: table;
  }
  &:after {
    clear: both;
  }
}

//background-image: url(../img/svg/logo.svg);

.address-list {
  li {
    margin-bottom: 13px;

    &>span:first-child {
        display: block;
        color: #919699;
        font-size: 0.857rem;
    }
  }
  .tel {
    text-decoration: none;
  }
}

.content {
  .clearfix;
}

.icon-old {
  display: inline-block;
  background: @sprite no-repeat;

  .svg & {
    background-image: @spriteSVG;
  }
}

.icon-old-share {
  width: 16px;
  height: 16px;
  background-position: -3px -3px;
}

.icon-old-facebook {
  .sq(24px);
  background-position: -22px -3px;
}

.icon-old-twitter {
  .sq(24px);
  background-position: -49px -3px;
}

.icon-old.icon-old-linkedin {
  .sq(24px);
  background: url(../img/svg_land/linkedin_round.svg);
}

.icon-old-github {
  .sq(24px);
  background-position: -76px -3px;
}

.icon-old.icon-old-youtube {
  .sq(24px);
  border-radius: 50%;
  background-color: #2C373C;
  background-size: 62%;
  background-position: center;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2216%22%20height%3D%2211%22%20viewBox%3D%220%200%2016%2011%22%3E%3Cdefs%3E%3Cstyle%3E.cls-2%20%7B%20fill%3A%20%23ffffff%3B%20%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpath%20d%3D%22M15.723%201.77c-.196-.84-.89-1.46-1.73-1.55C12.01%200%2010.004%200%208.004%200S3.994%200%202.01.22C1.174.31.478.93.283%201.77.002%202.965%200%204.27%200%205.5s0%202.535.28%203.73c.194.84.89%201.46%201.728%201.55%201.984.22%203.99.22%205.99.22s4.008%200%205.992-.22c.838-.09%201.533-.71%201.73-1.55.278-1.195.28-2.5.28-3.73s.002-2.535-.277-3.73zM6.667%208.088V2.91l4.5%202.59-4.5%202.588z%22%20id%3D%22path-1%22%20class%3D%22cls-2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E');
}

.hidden {
  display: none !important;
  visibility: hidden;
}

/* pagination */

//@todo add pagination size for 1366px

.pagination {
  margin-bottom: 48px;
  text-align: center;
  
  ul {
    display: inline-block;
    overflow: hidden;
  }
  li {
    float: left;
    margin-left: 1px;
    height: 60px;
    min-width: 60px;
    line-height: 60px;
    font-size: 1.500rem;
  }
  a {
    display: block;
    position: relative;
    padding: 0 5px;
    height: 60px;
    min-width: 50px;
    font-size: 21px;
    font-size: 1.714rem;
    color: @global-text-color;
    text-decoration: none;
    background: #fff;

    &.active {
      color: #ed002d;
    }
    &.prev {
      &:after {
        content: "";
        position: absolute;
        top: 20px;
        left: 24px;
        width: 10px;
        height: 19px;
        background: @sprite -212px -8px;
      }
    }
    &.next {
      &:after {
        content: "";
        position: absolute;
        top: 20px;
        left: 26px;
        width: 10px;
        height: 19px;
        background: @sprite -226px -8px;
      }
    }
  }
}

@media screen and (max-width:1080px) {
 .pagination {

  li {
    height: 48px;
    min-width: 48px;
    line-height: 48px;
    font-size: 1.500em;
  }
  a {
    height: 48px;
    min-width: 38px;

    &.prev {
      &:after {
        top: 15px;
        left: 18px;      
      }
    }
    &.next {
      &:after {
        top: 15px;
        left: 18px;
      }
    }
  }
} 
}

@media screen and (max-width:777px) {
  .pagination {
    li {
      font-size: 1em;
    }
  }
}

@media screen and (max-width:620px) {
  .pagination {
    .hidden-in-table {
      display: none;
    }
  }
}

@media screen and (max-width:410px){
  .pagination {
    .hidden-in-mobile {
      display: none;
    }
  }
}

/* pagination */

/* project-list */

.projects {
  text-align: center;
  margin: 8px 0  18px;

  li {
      display: inline-block;
      width: 23.2558%;
      max-width: 300px;
      margin: 0 1.88% 23px 0;
      vertical-align: top;

      &:nth-child(4n){
        margin-right: 0;
      }
    }
  h3 {
    font-family: @global-font;
  }
  a {
    text-align: center;
    text-decoration: none;
    color: @global-text-color;
    font-weight: bold;
  }
  p {
    display: block;
    margin: 8px 0 0 ;
    color: #919699;
    font-size: 0.786rem;
    line-height: 1.363em;
  }
  img {
    margin-bottom: 11px;
    width: 100%;
    border-radius: 4px;
  }
  h3 {
    display: inline-block;
    margin: 0;
    font-size: 1em;
    font-weight: bold;
  }
}

.show-all-projects {
  display: block;
  margin-bottom: 40px ;
  height: 60px;
  font-size: 1.143rem;
  text-decoration: none;
  line-height: 60px;
  color: @global-text-color;
  text-align: center;
  background: #fff;
}

.error-page {
  text-align: center;
  margin: 33px auto 89px;
  width: 60.625%;

  h2 {
    font-size: 1.714rem;
    line-height: 1em;
  }
  img {
    margin: 0 0 26px;
    border-radius: 12px;
    max-width: 100%;
    .box-shadow(0 11px 20px rgba(44,55,60,.07));
  }
}

@media screen and (max-width:764px) {
  .error-page {
    width: 90%;
    margin: 0 auto 58px;
  }
}

@media screen and (max-width:1089px) {
  .projects {
    li {
      width: 31.25%;
      margin-right: 2.2041%;

      &:nth-child(4n) {
        margin-right: 2.6041%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  .show-all-projects {
    height: 48px;
    line-height: 48px;
    font-size: 1.214rem;
  }
}

@media screen and (max-width:777px) { 
  .show-all-projects {
    margin-bottom: 23px;
    font-size: 1.214rem;
  }
}

@media screen and (max-width:715px){
  .projects {
    li {
      width: 47.61%;
      margin-right: 3.243%;

      &:nth-child(3n) {
        margin-right: 3.243%;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width:350px){
  .projects {
    li {
      width: 100%;
      margin-right: 0;
    }
  } 
}

/* project-list */

@media screen and (max-width:715px){
  .icon-old-facebook {
    .sq(32px);
    background-position: -105px -3px;

    .svg & {
      background-position: -28px -3px;
      background-size: 830px auto;
    }
  }
  .icon-old-twitter {
    .sq(32px);
    background-position: -140px -3px;

    .svg & {
      background-position: -63px -3px;
      background-size: 830px auto;
    }
  }

  .icon-old-linkedin {
    .sq(32px);
    background-position: -175px -3px;

    .svg & {
      background-position: -98px -3px;
      background-size: 830px auto;
    }
  }

  .icon-old-github {
    .sq(32px);
    background-position: -205px -3px;

    .svg & {
      background-position: -133px -3px;
      background-size: 830px auto;
    }
  }
  .icon-old.icon-old-youtube {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width:410px){
  section.contacts {
    margin-bottom: 22px;
    width: 100%;

    h3 {
      font-size: 1.714rem;
    }
    //li {
    //  &>span:first-child {
    //    margin-bottom: -2px;
    //  }
    //}
  }

  .icon-old-facebook {
    .sq(48px);
    background-position: -3px -37px;

    .svg & {
      background-position: -39px -3px;
      background-size: 1200px auto;
    }
  }
  .icon-old-twitter {
    .sq(48px);
    background-position: -55px -37px;

    .svg & {
      background-position: -90px -3px;
      background-size: 1200px auto;
    }
  }
  .icon-old-linkedin {
    .sq(48px);
    background-position: -107px -37px;

    .svg & {
      background-position: -141px -3px;
      background-size: 1200px auto;
    }
  }

  .icon-old-github {
    .sq(48px);
    background-position: -159px -37px;

    .svg & {
      background-position: -192px -3px;
      background-size: 1200px auto;
    }
  }
  .icon-old.icon-old-youtube {
    width: 48px;
    height: 48px;
  }
}

@media screen and (max-width:350px){
  .hidden-pp {
    .responsive-invisibility();
  }
  
  .visible-pp {
    .responsive-visibility-block();
  }
  
  .visible-pp-i {
    .responsive-visibility-inline();
  }

//  .content {
//    width: 91%;
//  }

}

iframe[name="google_conversion_frame"] {
  display: none;
}