/* Styles for InlineUpload widget by brian ally, zijn digital
 * Add these to the bottom of the default set stylesheet.
 * Don't forget to supply a cancel.png!
 */
.markItUpInlineUpload
{
	position: absolute;
	z-index: 100;
	width: 300px;
	margin: 22px 0 0 40px;
	padding: 1em;
	background-color: #EEE;
	border:3px solid #3C769D;
	border-top-color: #EEE;
}
.markItUpInlineUpload > div { position: relative; } /* for positioning "loading" image */

.markItUpInlineUpload label
{
	float: left; clear: left;
	width: 4em; 
	padding-right: .5em;
	padding-top: 8px;
	font-size: 80%;
	font-weight: bold;
	color: #666;
	text-align: right;
}
#inline_upload_close
{
	float: right;
	width: 16px; height: 16px;
	margin-top: 4px;
	background: transparent url(/images/icons/category-delete.png) 0 0 no-repeat;
	cursor: pointer;
}
#inline_upload_iframe { display: none; }