<div class="project-item__img-block">
    {% if project.imageFile is not empty %}
        <img class="project-item__img" src="{{ vich_uploader_asset(project, 'mainPageImageFile') }}" alt="">
    {% endif %}
</div>