<div class="shared">
    <div>
        <h3><span class="feed">Наши заметки</span></h3>
        {% render controller("StfalconBlogBundle:Post:last", { 'count': 7 }) %}
        <a href="{{ path('blog') }}" class="all-posts">все статьи</a>
    </div>
</div>