{% extends '@ApplicationDefault/Default/_landing_header.html.twig' %}
{% block header_content %}
    <h1 class="header-title">{{ 'Создание интернет-магазина'|trans }}<br>&nbsp;{{ 'на Sylius'|trans }}</h1>
    <p>{{ 'E-commerce платформа Sylius, основанная на Symfony2'|trans }}</p>
    <div class="link_more">
        <a href="#scroll">{{ 'Подробнее'|trans }} <div class="circle_link"></div></a>
    </div>
{% endblock header_content %}
