{% extends '@ApplicationDefault/Default/_landing_header.html.twig' %}
{% block header_content %}
    <h1 class="header-title">{{ 'Проектирование эффективного пользовательского интерфейса'|trans }}</h1>
    <p>{{ 'Как говорил Платон'|trans }} – &laquo;{{ 'Истина рождается в споре!'|trans }}&raquo;.</p>
    <div class="link_more">
        <a href="#scroll">{{ 'Подробнее'|trans }} <div class="circle_link"></div></a>
    </div>
{% endblock header_content %}
