<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'Веб-студия'|trans }} stfalcon.com{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.min.css') }}?{{ 'now'|date('Ymd') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1"/>
</head>
    <body>
    {% include '::_header.html.twig' %}
        <article class="page-wrapper">
            <div class="row">
                <div class="col col-1"></div>
                <div class="col col-4">
                    <h1>MeinFernbus</h1>
                    <a href="#">www.meinfernbus.de</a>
                </div>
                <div class="col col-6"><p>Крупнейшая компания специализируется на пассажирских перевозках в Германии и Европе.</p></div>
                <div class="col col-1"></div>
            </div>
            <div class="row">
                <div class="col col-1"></div>
                <div class="col col-4">
                    <div class="tags">
                        <span>Проектирование</span>
                        <span>Дизайн сайта</span>
                        <span>Разработка backend</span>
                        <span>Разработка backend</span>
                    </div>
                </div>
                <div class="col col-6">
                    <h2>О проекте</h2>
                    <p>Мы принимали участие в улучшении дизайна старого сайта, меняя отдельные блоки и части. При этом вся стилистика, цвета, шрифты тянулись еще с первой версии. И нас и клиента стало многое не устраивать в текущем дизайне и было решено разработать новый дизайн, заложить новую стилистику, описаную в брендбуке компании.</p>
                    <h2>Дизайн сайта</h2>
                    <p>Мы принимали участие в улучшении дизайна старого сайта, меняя отдельные блоки и части. При этом вся стилистика, цвета, шрифты тянулись еще с первой версии. И нас и клиента стало многое не устраивать в текущем дизайне и было решено разработать новый дизайн, заложить новую стилистику, описаную в брендбуке компании.</p>
                </div>
                <div class="col col-1"></div>
            </div>
        </article>
    <footer class="footer">
        {% include '::_footer.html.twig' %}
    </footer>
    </body>
</html>