{% extends '::layout.html.twig' %}

{% block content_wrapper %}
    <section class="contacts-wrapper">
        <h1>
            {% trans %}Контактная информация{% endtrans %}
        </h1>
        <div class="col">
            <div class="info-group">
                <span>{% trans %}Позвонить{% endtrans %}:</span>
                <a href="tel:+380 97 874-03-42"><b>+380 97 874-03-42</b></a>
            </div>
            <div class="info-group">
                <span>{% trans %}Написать{% endtrans %}:</span>
                <a href="mailto:info@stfalcon.com"><b>info@stfalcon.com</b></a>
            </div>
        </div> 
        <div class="col address">
            <div class="info-group">
                <span>{% trans %}Зайти в гости{% endtrans %}:</span>
                <b>{% trans %}Камeнецкая{% endtrans %} 38, <br> {% trans %}Хмельницкий{% endtrans %}, {% trans %}Украина{% endtrans %}, 29000</b>
            </div>
        </div> 
        <div class="col">
            <ul class="socials">
                <li><a href="#"><span class="icon icon-facebook"></span> <span>Facebook</span></a></li>
                <li><a href="#"><span class="icon icon-twitter"></span> <span>Twitter</span></a></li>
                <li><a href="#"><span class="icon icon-github"></span> <span>GitHub</span></a></li>
            </ul>
        </div>
    </section>
    <!--google map-->
    <div class="map-wrapper">
        <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.ua/maps/ms?ie=UTF8&hl=uk&msa=0&msid=206670551419898039551.00049e630c18ed6cc61ad&ll=49.427291,26.978881&spn=49.427291,26.978881&z=16&output=embed"></iframe>
    </div>
    <!--/google map-->
{% endblock %}
