{% extends '::layout.html.twig' %}

{% block content_wrapper %}
    <section class="contacts-wrapper">
        <h1>
            {% trans %}Контактная информация{% endtrans %}
        </h1>
        <div class="col">
            <div class="info-group">
                <span>{% trans %}Позвонить{% endtrans %}:</span>
                <a href="tel:+380 97 874-03-42"><b>+380 97 874-03-42</b></a>
            </div>
            <div class="info-group">
                <span>{% trans %}Написать{% endtrans %}:</span>
                <a href="mailto:info@stfalcon.com"><b>info@stfalcon.com</b></a>
            </div>
        </div> 
        <div class="col address">
            <div class="info-group">
                <span>{% trans %}Зайти в гости{% endtrans %}:</span>
                <b>{% trans %}ул. Заречанская{% endtrans %} 3/2, <br> {% trans %}Хмельницкий{% endtrans %}, {% trans %}Украина{% endtrans %}, 29000</b>
            </div>
        </div> 
        <div class="col">
            <ul class="socials">
                <li><a href="https://www.facebook.com/stfalconcom" target="_blank"><span class="icon icon-facebook"></span> <span>Facebook</span></a></li>
                <li><a href="https://twitter.com/stfalcon" target="_blank"><span class="icon icon-twitter"></span> <span>Twitter</span></a></li>
                <li><a href="https://github.com/stfalcon-studio" target="_blank"><span class="icon icon-github"></span> <span>GitHub</span></a></li>
            </ul>
        </div>
    </section>
    <!--google map-->
    <div class="map-wrapper">
        <iframe width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.ua/maps?f=q&amp;source=s_q&amp;hl=ru&amp;geocode=&amp;q=23+%D0%97%D0%B0%D1%80%D0%B5%D1%87%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB%D0%B8%D1%86%D0%B0,+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D0%BA%D0%B8%D0%B9,+%D0%A5%D0%BC%D0%B5%D0%BB%D1%8C%D0%BD%D0%B8%D1%86%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C&amp;aq=0&amp;oq=%D0%97%D0%B0%D1%80%D0%B5%D1%87%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+23&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe>
    </div>
    <!--/google map-->
{% endblock %}
