{% if app.request.host == 'stfalcon.com' %}
    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 1047640200;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */

    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="Google conversion" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1047640200/?value=0&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
    <!--linkedin -->
    <script type="text/javascript">
        _linkedin_data_partner_id = "57979";
    </script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=57979&fmt=gif" />
    </noscript>
    <!--END linkedin -->
    {% javascripts
        'js/metrics/footer.js'
        output='cache/js/*.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}