<div class="opensource-item__rating">
    <a class="github-button"
       href="{{ repository_url }}"
       data-icon="octicon-star"
       data-size="large"
       data-show-count="true"
    ></a>
</div>