{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}

    <style>
        #footer {
            background: none;
        }
    </style>
{% endblock %}

{% block content_wrapper %}
    <div id="content-index">
        {% include 'ApplicationDefaultBundle:Default:_categories_accordion.html.twig'
                with {'categories': categories} %}

        {% include 'ApplicationDefaultBundle:Default:_shared.html.twig' %}
    </div>
{% endblock %}

{% block header %}
    {{ parent() }}

    <div class="slogan">
        <span>
            {% trans %}Веб-студия stfalcon.com — это команда профессионалов, которые любят свою работу и нацелены на качественный результат.{% endtrans %}
            <br />
            {% trans %}Сотрудничая с нами, Вы выбираете надежного партнера для бизнеса!{% endtrans %}
        </span>
        <div class="slogan-right"></div>
        <div class="slogan-left"></div>
    </div>
{% endblock %}