{% extends '::layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}

    <style>
        #footer {
            background: none;
        }
    </style>
{% endblock %}

{% block header %}
    {{ parent() }}

    <div class="slogan">
        <span>
            {% trans %}Веб-студия stfalcon.com — это команда профессионалов, которые любят свою работу и нацелены на качественный результат.{% endtrans %}
            <br />
            {% trans %}Сотрудничая с нами, Вы выбираете надежного партнера для бизнеса!{% endtrans %}
        </span>
        <div class="slogan-right"></div>
        <div class="slogan-left"></div>
    </div>
{% endblock %}

{% block content_wrapper %}
    <div id="content-index">
        {% include 'ApplicationDefaultBundle:Default:_categories_accordion.html.twig'
                with {'categories': categories} %}

        {% include 'ApplicationDefaultBundle:Default:_shared.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts filter='yui_js' output='cache/js/*.js'
            '@jquery'
            '@jquery_ui'
            'vendor/jquery/jquery.wresize.js'
            'vendor/jquery/jquery.mousewheel.min.js'
            'js/jquery.stf.carousel.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $("#content-index .accordion").accordion({ header: "h2", autoHeight: false });
        $("#content-index .carousel").stfCarousel({
            scroll: 'auto',
            mousewheel: false,
            ruler: $("#content-index .accordion"),
            widthItem: 280,
            substract: 144
        });
    </script>
{% endblock %}