{% extends 'PortfolioBundle::layout.html.twig' %}

{% block content %}
    <h4>Create new category</h4>

    <form action="#" method="post">
        <fieldset>
            {{ form_widget(form) }}
            <input type="submit" value="Send" />
        </fieldset>
    </form>
{% endblock %}