{% extends 'PortfolioBundle::layout.html.twig' %}

{% block content %}
    <h4>Categories list</h4>

    {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path('portfolioCategoryView', { 'slug': category.slug }) }}">
                        {{ category.name }}
                    </a>
                    (<a href="{{ path('portfolioCategoryEdit', { 'slug': category.slug }) }}">Edit Category</a>
                    / <a href="{{ path('portfolioCategoryDelete', { 'slug': category.slug }) }}">Delete Category</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="info">
            List of categories is empty
        </div>
    {% endif %}
{% endblock %}