<h2>
    {% trans %}Услуги{% endtrans %}
</h2>
<div id="accordion" class="servises">
    {% for category in categories %}
        {% if category.projects.count %}
            <h3>{{ category.name }}</h3>
            <ul>
            {% for project in category.projects %}
                {% if currentProject.id is defined and currentProject.id == project.id %}
                    <li class="active">
                        {{ project.name }}
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('portfolioCategoryProjectView', {'categorySlug': category.slug, 'projectSlug': project.slug }) }}">
                            {{ project.name }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    <div class="clear"></div>
</div>