<div class="contact-us">
    <div class="h2 contact-us__title">
        {{ 'Наша миссия — упрощать жизнь людей, создавая полезное и удобное программное обеспечение'|trans }}
    </div>
    <div class="contact-us__text">
        {{ 'Свяжитесь с нами, и мы поможем решить ваши задачи'|trans }}
    </div>
</div>
