<button type="button" class="hire_us_land link-order" onclick="ga('send', 'event', 'Zakazat_{{ category.slug }}', 'Otpravka_formyi');">
    {% set order_text = '_order-' ~ category.slug %}
    {{ order_text|trans }}
</button>