<button type="button" class="hire_us_land link-order
    {%- if category.slug in ['mobile-development',  'consulting-audit' ] %} link-order-mobile{% endif %}
    {%- if category.slug in ['web-design'] %} design{% endif %}
">
    {% set order_text = '_order-web-development'%}
    {{ order_text|trans }}
</button>