<nav class="locales">
    <ul>
        {% set currentLang = '' %}
        {% for key, locale in locales %}
            <li {% if key == app.request.locale %}class="active" {% set currentLang = locale[1] %}{% endif %}>
                <a href="{{ locale[0] }}">{{ locale[1] }}</a>
            </li>
        {% endfor %}
    </ul>
    <svg viewBox="0 0 20 20" class="close-mobile-nav">
        <path class="icon-close-nav" d="M19.5303301,18.4696699 L20.0606602,19 L19,20.0606602 L18.4696699,19.5303301 L10,11.0606602 L1.53033009,19.5303301 L1,20.0606602 L-0.0606601718,19 L0.469669914,18.4696699 L8.93933983,10 L0.469669914,1.53033009 L-0.0606601718,1 L1,-0.0606601718 L1.53033009,0.469669914 L10,8.93933983 L18.4696699,0.469669914 L19,-0.0606601718 L20.0606602,1 L19.5303301,1.53033009 L11.0606602,10 L19.5303301,18.4696699 Z M19.5303301,18.4696699"></path>
    </svg>
</nav>
<span class="show-mobile-nav current-language">{{ currentLang }}</span>