<div class="lang header__lang">
    <a href="{{ locales['en'] }}" class="lang__item{% if 'en' == app.request.locale %} lang__item--active{% endif %}">EN</a>
    <label class="switch lang__switch">
        <input type="checkbox" class="switch__checkbox">
        <span class="switch__slider"></span>
    </label>
    <a href="{{ locales['ru'] }}" class="lang__item{% if 'ru' == app.request.locale %} lang__item--active{% endif %}">RU</a>
</div>