{% extends 'form_div_layout.html.twig' %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        <ul class="error-list">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif %}
{%- endblock form_errors %}

{% block _order_promotion_budget_row %}
    <div class="line line--budget">
        <div class="line__lable">{{ 'Бюджет'|trans }}</div>
        {%- for child in form %}
            <div class="radio col2--fluid col2 float-left float-left--text-left line__radio">
                {{- form_widget(child, {'attr': {'class': 'radio__input'}}) -}}
                <span>{{- form_label(child, null, {translation_domain: choice_translation_domain, 'label_attr': {'class': 'radio__label'}}) -}}</span>
            </div>
        {% endfor -%}
    </div>
{% endblock _order_promotion_budget_row %}
