<ul class="tags">
    {% for tag in post.tags %}
        <li>
            <a href="{{ path('blog_tag_view', { 'text': tag.text }) }}">{{ tag.text }}</a>{% if not loop.last %},{% endif %}
        </li>
    {% endfor %}
</ul>